body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Avenir", Arial, sans-serif;
}

/* Header */
.header {
  background: #61a8df;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px; /* space between logo and text */
}

.logo img {
  width: 40px; /* adjust size */
  height: auto;
}

.logo h2 {
  font-size: 20px;
  color: #002c5f;
  font-weight: bold;
}
.header .logo h2 {
  font-size: 20px;
  color: #002c5f;
}
.hamburger a {
  font-size: 22px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  background: #ffc907;
  border: 2px solid #ffc907;
  padding: 8px 14px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.hamburger a:hover {
  background: #ff902a;
  border-color: #ff902a;
  color: #fff;
}

/* Hero Section Layout */
.hero {
  display: flex;
  height: 100vh; /* full page height */
}

/* Left Side (Blue Background) */
.hero-text {
  flex: 1;
  background: #12285b;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* top, middle, bottom */
  padding: 60px 50px;
}

/* Top content */
.top-text h1 {
  font-size: 38px;
  margin-bottom: 15px;
  color: #ffc907;
}
.top-text p {
  font-size: 18px;
  color: #de8714;
}

.middle {
  text-align: center;
}

.middle p {
  margin-bottom: 20px;
  font-size: 1.2rem;
}
.donate-button {
  background: #ffc907;
  border: 2px solid #ffc907;
  padding: 16px 26px;
  color: #000;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
}
.donate-button:hover {
  background: #ff902a;
  border-color: #ff902a;
  color: #fff;
}

/* Bottom text */
.bottom-text {
  font-size: 16px;
  color: #ffc907;
  text-align: center;
  margin-bottom: 20px;
}

/* Right Image Side */
.hero-image {
  flex: 1;
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsive */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
  }
  .hero-text {
    padding: 40px 20px;
    align-items: center;
    text-align: center;
  }
  .top-text h1 {
    font-size: 28px;
  }
}